{{!-- Left "Quick Swich" Area  --}}

{{#if blogs}}
    {{gh-switcher 
        blogs=blogs
        switchToBlog="switchToBlog"
        showAddBlog="showAddBlog"
        showEditBlog="showEditBlog"
        showPreferences="showPreferences"
        blogRemoved="blogRemoved"
    }}
{{/if}}

{{!-- Right Side: Main Content Area  --}}

<div class="content">
    {{gh-find-in-webview isActive=isFindInViewActive}}

    {{#if isEditBlogVisible}}
        {{gh-edit-blog
            blogAdded="blogAdded"
            blog=blogToEdit
            editWarning=editWarning
        }}
    {{else if isPreferencesVisible}}
        {{gh-preferences}}
    {{/if}}

    {{#if blogs}}
        {{#each blogs as |blog|}}
            {{gh-instance-host blog=blog showEditBlog="showEditBlog"}}
        {{/each}}
    {{/if}}
</div>

