<ul>
    {{#each blogs as |blog|}}
        <li class="switch-btn {{if blog.isSelected "isSelected"}}" {{action "switchToBlog" blog}} data-blog={{blog.id}}>
            <span>{{first-letter blog.name}}</span>
        </li>
    {{/each}}
</ul>
<div {{action "showAddBlog"}} class="add-blog-button switch-btn">
    <span>+</span>
</div>
